.main_section {

    .header_logo {
        display: flex;
        justify-content: center;
        padding: 10px;

        img {
            width: 90px;
        }
    }

    .main_hero_content {
        padding-bottom: 50px;
       
        .main_left_img{
            height: 100%;
            display: flex;
            align-items: center;
            img{
                display: block;
                margin: auto;
            }
        }
        .race_faucet_bg{
            background: linear-gradient(90.37deg, #FFFFFF 0.29%, #C6AD78 99.68%);
            border-radius: 20px;
            padding: 1px;
            margin-top: 1.3rem;
        }
        .main_content {
            color: #fff;
            border: 1px solid #fff;
            border-radius: 20px;
            padding: 2.3rem 2rem;
            background-color: #1d2b38;
            backdrop-filter: blur(10px);

            .error{
                margin: 0%;
                font-size: 15px;
                // display: none;
            }

           h1 {
                font-size: 5rem;
                font-weight: 700;
            }

            h6 {
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 2px;
                padding: 20px 0px;
            }

            p {
                color: #cfa042;
                font-size: 20px;
            }

            .waller_address_input {
                display: flex;
                align-items: center;
                background: #fff;
                border-radius: 5px;
                padding: 10px 10px 10px 20px;

                input {
                    border: none;

                    &:focus {
                        box-shadow: none;
                        border: none;
                    }

                    &::placeholder {
                        color: #cfa042;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }

            .race_btn {
                button {
                    background: linear-gradient(90.37deg, #FFFFFF 0.29%, #C6AD78 99.68%);
                    width: 100%;
                    padding: 13px;
                    color: #000;
                    font-size: 20px;
                    font-weight: 600;
                    border: none;
                    border-radius: 5px;
                    margin: 20px 0px;
                }
                button[disabled]{
                    filter: grayscale(1) brightness(0.5) invert(1);
                    cursor: not-allowed;
                }
            }

            .transaction_table {
                margin-top: 10px;
                 .table-responsive{
                    border-radius: 14px;
                 }
                table {
                    background: #fff;
                    border-radius: 14px;
                    
                    thead{
                        background-color: #0f1d32;
                        color: #fff;
                        padding: 15px 0px;
                        th{
                            text-align: center;
                            padding: 14px 10px;
                            &:first-child{
                            
                                border-top-left-radius: 10px;
                            
                        }
                        &:last-child{
                            
                                border-top-right-radius: 14px;
                            
                        }
                        }
                        
                           
                        
                    }
                  

                    tbody {
                        
                        tr{
                            border-color: #ccb68a;
                             &:hover{
                                background-color: #ffdf9e6b;
                                cursor: pointer;
                             }

                             &:last-child{
                                border: none;
                            }
                        }
                        td {
                            padding: 14px 10px;
                            font-size: 14px;
                            font-weight: 500;
                            text-align: center;
                            width: 50%;

                            .transaction_details{
                                text-decoration: none;
                                color: #0f1d32;

                                svg{
                                    margin-left: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width:424px){
 
    .main_section .main_hero_content .main_content h1{
        font-size: 3rem;
    }
}
@media (min-width:425px) and (max-width:525px){
    
    .main_section .main_hero_content .main_content h1{
        font-size: 4rem;
    }
}
@media (min-width:526px) and (max-width:639px){
   
    .main_section .main_hero_content .main_content h1{
        font-size: 4rem;
    }
}

@media (min-width:1200px) and (max-width:1439px){
    .main_section .main_hero_content .main_content h1{
        font-size: 4.5rem;
    }
}