@import "./hero.scss";
@import "./faq.scss";
@import "./footer.scss";

body {
    background-color: #0f1f2f;
}

.main_bg_img {
    width: 100%;
    background-image: url("../image/hero_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Toastify {
    button {
        display: none;
    }
}